body {
  /* Margin bottom by footer height so that sticky footer doesnt cover*/
   margin-bottom: 60px;
   background-color:#ccc;
}
.game-container h2{
    text-align:center;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
    text-decoration:underline;
    color:#2c699e;
}
/*gives some spacing between radio btn and its label*/
.game-container label{
    padding-left:4px;
}
/*text box fields in form*/
.game-container input{
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px;
    border-radius:5px;
}
/*labels in form*/
.game-container span {
    display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
}

form{
    background-color:azure;
    border-radius:7px;
    padding:10px;
}

/*summary button*/
#buttonDiv{
    text-align:right;
}
#buttonDiv input{
    margin-top:20px;
}
/* mobile media query*/
@media only screen and (max-width : 395px) {
    .game-container span {
        text-align: left;
        padding-left: 20px;
    }
    /*first label - Results*/
    .game-container > span {
        width: 70px;
    }

    #buttonDiv input {
        margin-right: 41px;
    }
}

/*Large desktop media query*/
@media only screen and (min-width : 1200px) {
    .game-container span {
        text-align: left;
        padding-left: 20px;
    }
    /*first label - Results*/
    .game-container > span {
        width: 70px;
    }
}

