body {
  /* Margin bottom by footer height so that sticky footer doesnt cover*/
   margin-bottom: 60px;
   background-color:#ccc;
   position:relative;
}
#test{
    height:40px;
    width:40px;
    background-color:chartreuse;
}
form{
    padding:10px;
}
.panel{
    padding:0;
}
#summary-section h3, h1{
    text-align:center;
    font-weight:bold;
    font-family: 'Roboto Slab', serif;
    font-size:36px !important;
}
.game-container h2{
    text-align:center;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
    text-decoration:underline;
    color:#2c699e;
}
/*gives some spacing between radio btn and its label*/
.game-container label{
    padding-left:4px;
}
/*text box fields in form*/
.game-container input{
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px;
    border-radius:3px;
}
/*labels in form*/
.game-container span {
    display:inline-block;
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
    font-family: 'Roboto Slab', serif;
    font-weight:bold;
}

/*summary button*/
#buttonDiv{
    text-align:right;
}
#buttonDiv input,button{
    margin-top:20px;
}
#buttonDiv button{
    background-color:none;
    border-radius:6px;
    margin-top:21px;
}
#buttonDiv img{
        height:45.4545px;
        width:45.4545px;
        border-radius:6px;
        border:1px solid gray;
        margin-top:20px;
}
#summary-section span{
    font-size:1.2em;
    display:block;
    text-align:center;
    color:dimgray;
    padding:5px 0;
}
#summary-section span:nth-child(2n+2) {
    background-color:lightsteelblue;
}
#label-container{
    margin:auto;
}
/* mobile media query*/
@media only screen and (max-width : 395px) {
    .game-container span {
        text-align: left;
        padding-left: 20px;
    }
    /*first label - Results*/
    .game-container > span {
        width: 70px;
    }

    #buttonDiv input {
        margin-right: 41px;
    }
}

/*Large desktop media query*/
@media only screen and (min-width : 1200px) {
    .game-container span {
        text-align: left;
        padding-left: 20px;
    }
    /*first label - Results*/
    .game-container > span {
        width: 70px;
    }
}

/* JQUERY Validation elements*/
label.error{
    color:red;
}
input.error{
    border-color:red;
    border-style:solid;
}
